version: "3.7"

services:
  genesis:
    build: .
    container_name: genesis

    ports:
      - "8085:8085"

  redis:
    image: redis
    container_name: redis
    restart: always
    command: --requirepass "admin123"
    ports:
      - "6379:6379"
