spring:
  datasource:
    url: jdbc:mysql://192.168.2.101:3306/genesis?userSSL=false&useUnicode=true&characterEncoding=utf-8&serverTimezone=GMT&rewriteBatchedStatements=true&allowMultiQueries=true
    username: root
    password: 123456
    driver-class-name: com.mysql.cj.jdbc.Driver

  redis:
    database: 0
    host: 192.168.2.101
    port: 6379
    timeout: 6000
    password: admin123
    jedis:
      pool:
        max-active: 10
        max-wait: -1
        max-idle: 10
        min-idle: 5
  activemq:
    broker-url: tcp://192.168.2.101:61616 # activemq連線地址
    user: admin
    password: 123456
    send-timeout: # 傳送超時時間
    packages:
      trust-all: true
    pool:
      enabled: false # 是否建立 JmsPoolConnectionFactory 連線池
      idle-timeout: 30s # 空閒連線超時時間
      max-connections: 50 # 連線池中最大連線數
      max-sessions-per-connection: 100 # 每個連線最大會話
